.horarioContainer {
    padding: 20px;
    background-color: #f7f8fa;
  }
  
  .horarioGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .diaContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .diaContainer h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .diaContainer label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .diaContainer input {
    padding: 5px;
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
  }
  
  .actions {
    margin-top: 20px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    /* gap: 20px; */
  }
  
  .saveButton {
    background-color: #28a745;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .saveButton.disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }
  
  .saveButton:hover:not(.disabled) {
    background-color: #218838;
    transform: scale(1.05);
  }
  
  .suspendButton,
  .reactivateButton {
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .suspendButton {
    background-color: #dc3545;
  }
  
  .suspendButton:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
  
  .reactivateButton {
    background-color: #285ba7dd;
  }
  
  .reactivateButton:hover {
    background-color: #285ba7;
    transform: scale(1.05);
  }
  
  .infoMessage {
    font-size: 12px;
    color: #555;
    text-align: center;
    margin-top: -5px;
    line-height: 1.4;
  }
  
  .feedback {
    color: green;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .errorContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .errorMessage {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .reloadButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .reloadButton:hover {
    background-color: #0056b3;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .infoMessage span {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    margin-right: 5px;
  }

  .iconButton {
    margin-right: 8px;
  }

  @media (max-width: 768px) {
    .iconButton {
        width: 40px;
    }
  }