/* Layout.css */

.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o layout ocupe toda a altura da janela */
  }
  
  .content-container {
    flex: 1; /* Faz com que o conteúdo ocupe o espaço restante */
    padding: 20px;
    box-sizing: border-box; /* Inclui padding no tamanho total do elemento */
  }
  
  .footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #2b0548;
    color: white;
    font-size: 0.9rem;
    flex-shrink: 0; /* Impede o footer de encolher */
    position: relative;
    z-index: 1;
  }