/* Layout principal */
.layout-container {
  display: flex;
  height: 100vh;
  background-color: #f7f8fa; /* Fundo claro */
}

.main-layout {
  flex: 1; /* Preenche todo o espaço disponível */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita scroll desnecessário */
}

.content-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto; /* Rolagem no conteúdo principal */
  box-sizing: border-box;
}

.footer {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%; /* Garantir que ocupe toda a largura */
  text-align: center;
  padding: 1rem 0;
  background-color: #494e51; /* Cinza escuro */
  color: white;
  font-size: 0.9rem;
  z-index: 1000; /* Sobrepor a sidebar */
}
