/* Estilo do contêiner do loading */
.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa a tela inteira */
    background-color: #f3f1f7;
    color: #2b0548;
    font-size: 1.2rem;
  }
  
  /* Estilo do spinner */
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #eaeaea;
    border-top: 6px solid #2b0548;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }
  
  /* Animação de rotação */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  